<section class="cadastro">
    <img class="imagem-cadastro" ngSrc="/assets/dicas-de-viagem.jpg" width="600" height="500" alt="Globo terrestre azul mostrando as Américas com um pequeno avião de brinquedo pousado sobre ele, simbolizando viagens internacionais."> 

    <app-formulario></app-formulario>
</section> 
    <footer>
        <div class="infoContato">
            <p>Site Criado para disciplina Univesp DRP01 Projeto Integrador em 
                Computação III</p>
            <p>Grupo 008 </p>
        </div>
    </footer>