
/* Estilo para o contêiner da seção de cadastro */
.cadastro {
    display: flex; /* Usando flexbox para alinhar os itens lado a lado */
    background-color: rgb(19, 85, 160);
    flex-direction: row; /* Coloca os elementos na horizontal, com a imagem à esquerda e o formulário à direita */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: center; /* Alinha os itens no centro horizontalmente */
    font-family: "Roboto", sans-serif;
    gap: 60px; /* Adiciona um espaço entre o formulário e a imagem */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas pequenas */
    padding-top: 45px;
}

/* Estilo da imagem */
.imagem-cadastro {
    max-width: 50%; /* A largura máxima da imagem será 50% do tamanho disponível */
    height: auto; /* Mantém a proporção da imagem */
    flex: 1 1 300px; /* Permite que a imagem encolha ou cresça, mas ocupe no mínimo 300px de largura */
    padding-top: 10px;
    padding-bottom: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    position: relative; /* Evita sobreposição */
  }